html {
    scroll-behavior: smooth;
}

:root {
    --color: rgb(25, 200, 250);
    --sec-color: rgb(15 116 143 / 70%);
    --font-weight: 700;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* part one  */

.landing {
    background-image: url(../IMG/land.jpg);
    background-size: cover;
    height: 100vh;
}

.brightness {
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 97px;
    position: relative;
}

header .container::after {
    content: '';
    position: absolute;
    width: calc(100% - 30px);
    height: 1px;
    bottom: 0px;
    background-color: rgb(162, 162, 162);
}

header img {
    height: 40px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 40px 10px;
    text-transform: capitalize;
    font-size: 14px;
    display: block;
    position: relative;
    z-index: 5;
}

header nav a.active,
header nav a:hover {
    color: var(--color);
    border-bottom: 1px solid var(--color);
}

nav ul {
    display: flex;
}

header nav .search {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}

.srch {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.hello {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--sec-color);
    color: white;
    display: flex;
    justify-content: flex-end;
}

.landing .content {
    max-width: 500px;
}

.landing .hello h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}

.landing .hello p {
    font-size: 14px;
    line-height: 2;
}

.next-previous {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    color: rgb(221, 221, 221);
    justify-content: space-between;
    font-size: 16px;
}

.circles {
    position: absolute;
    left: 50%;
    top: 92.5%;
    TRANSFORM: translateX(-56%);
    width: 80px;
    height: 20px;
    padding: 0px;
    background-color: #ee82ee00;
    display: flex;
    justify-content: space-between;
}

.circles div {
    background-color: #ff000000;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid white;
}

.circles .active {
    background-color: var(--color);
    border-color: transparent;
}

@media (max-width: 767.98px) {
    .menu {
        display: block;
        font-size: 22px;
        color: white;
    }

    nav ul {
        display: none;
    }

    .hello {
        width: 100%;
        justify-content: start;
    }

    .landing .content {
        max-width: max-content;
    }

    .next-previous {
        display: none;
    }
}

/* part two */

.header {
    text-align: center;
    padding-bottom: 40px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.header h1 {
    font-size: 40px;
    margin-top: 35px;
    font-weight: 400;
    position: relative;
    margin-bottom: 70px;
    padding-top: 65px;
}

.header h1::before {
    content: '';
    bottom: -35px;
    width: 120px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: black;
    position: absolute;
}

.header h1::after {
    content: '';
    bottom: -42px;
    width: 14px;
    left: 50%;
    transform: translateX(-50%);
    height: 14px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border: 2px solid black;
    border-radius: 50%;
}

.header p {
    color: rgb(119 119 119);
    line-height: 2;
    text-transform: capitalize;
}

.services .srv {
    display: flex;
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    padding-bottom: 100px;
    gap: 60px 40px;
}

.services h3 {
    margin-bottom: 30px;
    color: var(--color);
}

.services p {
    line-height: 2;
    color: rgb(119 119 119);
}

.services .text {
    margin-left: 50px;
}


.features {
    background-image: url(../IMG/srv.jpg);
    background-size: cover;
    height: 600px;
    position: relative;
    overflow: hidden;
}

.features .cont {
    background-color: var(--sec-color);
    position: absolute;
    width: 54%;
    height: 60%;
    top: 20%;
    right: 0px;
}

.features .cont .text {
    padding: 50px;
}

.features .text li {
    padding: 17px 0px;
    color: white;
    list-style: trad-chinese-formal;
}

.features .text h2 {
    margin: 0px -30px 30px;
    color: white;
    font-weight: 400;
}

.features img {
    position: absolute;
    top: 200px;
    left: 145px;
}

@media (max-width: 1199.98px) {
    .features img {
        left: 10px;
    }

}
@media (max-width: 767.98px) {
    .features img {
        display: none;
    }

    .features .cont {
        width: 100%;
    }
}

@media (max-width: 575.98px) {
    .services .srv {
        text-align: center;
        flex-direction: column;
        margin-bottom: 40px;
    }

    .services .container {
        display: block;
    }

    .services .text {
        margin-left: auto;
    }

    .srv-ico {
        margin-bottom: 20px;
    }
}

/* part three */

.portfolio ul {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.portfolio li {
    padding: 10px;
}

.selected {
    background-color: var(--color);
    color: white;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.photos img {
    max-width: 100%;
}

.photos .box {
    flex-basis: 25%;
    position: relative;
    overflow: hidden;
}

.caption h4 {
    margin-bottom: 10px;
}

.caption p {
    color: var(--color);
}

.caption {
    position: absolute;
    background-color: white;
    bottom: -100%;
    padding: 20px;
    width: 100%;
    height: 40%;
    transition: .5s;
}

.box:hover .caption {
    bottom: 4px;
    transform: rotate(362deg);
}

.portfolio h3 {
    text-align: center;
    padding: 15px;
    border: 1px solid var(--color);
    width: 90px;
    margin: 30px auto 130px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 400;
}

.video::before {
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.video video {
    background-image: url(../IMG/awesome-video.mp4);
    width: 100%;
}

.video {
    position: relative;
}

.video .text {
    text-align: center;
    background-color: var(--sec-color);
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    height: 250px;
}

.video h2 {
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 30px;
}

.video button {
    background-color: black;
    color: white;
    width: 160px;
    margin-top: 30px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

@media (max-width: 991.98px) {
    .photos .box {
        flex-basis: 50%;
    }
}

@media (max-width: 767.98px) {
    .photos .box {
        flex-basis: 100%;
    }
}



/* part four */



.about .img {
    display: flex;
    justify-content: center;
    margin-bottom: -115px;
}

.about .stats {
    background-image: url(../IMG/stats.png);
    position: relative;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

.about .stats::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.700);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.about .stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
    color: white;
    text-align: center;
    gap: 1px;
    position: relative;
    z-index: 10;
}

.about .stats .box {
    background-color: var(--sec-color);
    padding: 50px;
}

.about .stats .box i {
    font-size: 16px;
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-top: 10px;
}

.about .stats .box h2 {
    font-size: 50px;
    font-weight: bold;

}

.about .stats .box i,
.about .stats .box h2 {
    margin-bottom: 30px;
}

.skill-section .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(423px, 1fr));
    gap: 100px;
}

.skill-section .container h2 {
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.skill-section .container .col-1>p,
.skill-section .container .col-2>p {
    text-align: center;
    margin-bottom: 60px;
    color: rgb(119, 119, 119);
    line-height: 2;
}

.skill-section .container .col-1 {
    position: relative;
    padding-bottom: 55px;
}

.skill-section .guy-1,
.skill-section .guy-2 {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    line-height: 1.8;
    font-size: 15px;
}

.skill-section .col-1 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 50px;
}

.skill-section .col-1 h5 {
    text-align: end;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 14px;
    color: rgb(119 119 119);
}

.skill-section .guy-1 p,
.skill-section .guy-2 p {
    font-size: 16px;
    position: relative;

}

.skill-section .guy-1 p::after,
.skill-section .guy-2 p::after {
    content: "";
    position: absolute;
    bottom: -40px;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(204, 204, 204);
}

.skill-section .container .col-1 .circles {
    width: 65px;
    height: 14px;
}

.skill-section .container .col-1 .circles div {
    height: 14px;
    width: 14px;
    border: 1px solid rgb(171, 171, 171);
}

.skill-section .container .col-1 .circles .active {
    border-color: transparent;

}

.technology>div {
    margin-bottom: 40px;
}

.skill-section .col-2 .technology h4 {
    font-weight: 400;
    margin-bottom: 15px;
}

.skill-section .col-2 .mt {
    width: 100%;
    height: 30px;
    background-color: rgb(222, 218, 220);
    position: relative;
}

.technology .one::after,
.technology .four::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 90%;
    background-color: var(--color);
}

.skill-section .col-2 .two::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 85%;
    background-color: var(--color);
}

.skill-section .col-2 .three::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 80%;
    background-color: var(--color);
}

.qoute {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("../IMG/quote.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    margin-top: 100px;
    width: 100%;
}

.qoute h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.qoute h5 {
    font-weight: 400;
}


@media (max-width: 767.98px) {
    .about .img {
        margin-bottom: -56px;
        padding-right: 15px;
    }

    .about .img img {
        max-width: 100%;
    }

    .skill-section .guy-1,
    .skill-section .guy-2 {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        text-align: center;
        flex-direction: column;
    }

    .skill-section .col-1 img {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .skill-section .container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}


/* part five */